/* Write your CSS here */
.not-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-title {
  font-family: 'Bree Serif';
  font-size: 44px;
  font-weight: 700;
  color: #ffffff;
}
