/* Write your CSS here */

.RCB {
  background-image: linear-gradient(to top, #a4261d, #1e293b);
}

.KKR {
  background-image: linear-gradient(to top, #4f5db0, #1e293b);
}

.DD {
  background-image: linear-gradient(to top, #a4261d, #13418b);
}

.CSK {
  background-image: linear-gradient(to top, #f7db00, #1e293b);
}

.SHR {
  background-image: linear-gradient(to top, #f26d22, #1e293b);
}

.RR {
  background-image: linear-gradient(to top, #13418b, #da237b);
}

.MI {
  background-image: linear-gradient(to top, #5755a7, #1e293b);
}

.KXIP {
  background-image: linear-gradient(to top, #a4261d, #d91c1f);
}

.bg-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}
